*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: #5b87b9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}
.addText{
    width: 300px;
    background-color: #fff;
   padding: 10px;
   border-radius: 10px;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    gap: 10px;
}
h2{
    font-size: 35px;
    text-align: center;
}
.data{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 4px;
}
.data input{
    padding: 4px;
    outline: none;
    border: 1px solid #5b87b9;
    background-color: #eaedf0;
    color: #000;
}
.data button{
    background: #5b87b9;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.listBox{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
}
.box{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.item{
    background-color: #5b87b9;
    padding: 10px;
    margin: 4px;
    cursor: move;
    color: white;
}